<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
    <header><!--inserción del logo-->
        <div class="logotipo2">
            <img src="./../images/logotipo2.png" 
            alt="logotipo"
            width="1000"
            height="750">
            <h1>Álvarez-Serrano: <em>Tienda de arte</em></h1>
        </div>
         <!--De nuevo aparece el menú-->
        <nav>
            <ul>
                <li><a href="./../index.html"              target="_self">Inicio</a></li>
                <li><a href="./productos.html"             target="_self">Productos</a></li>
                <li><a href="./presupuesto.html"           target="_top">Presupuesto</a></li>
                <li><a href="./contacto.html"class="active"target="_self">Contacto</a></li>
            </ul>
        </nav>
    </header>
<main>
    <h2 class="contacto">Contacto</h2>
    <label class="mapa-box">
        <input type="checkbox" class="mapa-zoom">
        <img src="./../images/mapa2.webp"
        alt="Mapa de ubicación"
        class="mapa"
        width="474"
        height="312">
    </label>
    <p><strong>Dirección:</strong> Calle de la Creatividad 25, Móstoles, Madrid</p>
    <p><strong>Email:</strong><a href="mailto:in@alvarezserrano.com">info@alvarezserrano.com</a></p>
    <p><strong>Teléfono:</strong> +34 XXX-XXX-XXX</p>
</main>
<footer>
    <div class="redes">
        <a href="https://instagram.com"><img src="./../images/Instagram.png" alt="Instagram"width="250"></a>
        <a href="https://facebook.com"><img src="./../images/facbook.png" alt="Facebook"width="250"></a>
        <a href="https://twitter.com"><img src="./../images/twitter.png" alt="Twitter"width="250"></a>
    </div>

    <p>Álvarez Serrano – Tienda de Arte</p>
    <p>Calle de la Creatividad 42, Móstoles, Madrid</p>
    <p><a href="./../images/Aviso-Legal-Web.pdf"target="_blank">@copy Aviso Legal</a></p>
</footer>
</body>

</html>