<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
    <header><!--inserción del logo-->
        <div class="logotipo2">
            <img src="./../images/logotipo3.png"
            alt="logotipo"
            width="1000"
            height="750">
            <h1>Álvarez-Serrano: <em>Tienda de arte</em></h1>
        </div>
         <!--Denuevo aparece el menú-->
        <nav>
            <ul>
                <li><a href="./../index.html"                   target="_self">Inicio</a></li>
                <li><a href="./productos.html" class="active"   target="_self">Productos</a></li>
                <li><a href="./presupuesto.html"                target="_top">Presupuesto</a></li>
                <li><a href="./contacto.html"                   target="_parent">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
       <h2 class="PA">Productos para artistas</h2>
       <div class="Productos">
            <div class="item" data-price="Desde 10€">
                <img src="./../images/pinceles.webp"
                alt="pinceles"
                width="271"
                height="249">
            </div>
            <div class="item" data-price="Desde 20€">
                <img src="./../images/lienzos.webp"
                alt="lienzos"
                width="257"
                height="257">
            </div>
            <div class="item" data-price="Desde 5€">
                <img src="./../images/juegoPinturas.webp"
                alt="juego de pinturas"
                width="236"
                height="237">
            </div>
            <div class="item" data-price="Desde 30€">
                <img src="./../images/caballete.webp"
                alt="caballetes"
                width="253"
                height="253">
            </div>
       </div>
    </main>

    <footer>
    <div class="redes">
        <a href="https://instagram.com"><img src="./../images/Instagram.png" alt="Instagram"width="250"></a>
        <a href="https://facebook.com"><img src="./../images/facbook.png" alt="Facebook"width="250"></a>
        <a href="https://twitter.com"><img src="./../images/twitter.png" alt="Twitter"width="250"></a>
    </div>

    <p>Álvarez Serrano – Tienda de Arte</p>
    <p>Calle de la Creatividad 42, Móstoles, Madrid</p>
    <p><a href="./../images/Aviso-Legal-Web.pdf" target="_blank">@copy Aviso Legal</a></p>
</footer> 
</body>


</html>